In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import tensorflow as tf
import os

In [90]:
# Params
path_data_train = 'data/x_train.csv'
path_data_test = 'data/x_test.csv'
n_features = 5

In [96]:
def data_import(path_data, n_features = 5):
    raw_data = pd.read_csv(path_data, sep=";", date_parser="date")
    raw_data.date = pd.to_datetime(raw_data.date)
    raw_data.index = raw_data.date
    raw_data = raw_data.drop(columns=['date'], axis=0)
    print(raw_data.isnull().sum())
    #Entfernen der Precipitation, Barmen Wuppertal Verband
    raw_data=raw_data.iloc[:,0:n_features]
    return raw_data

In [97]:
raw_data = data_import(path_data=path_data_train)
raw_data

Discharge,  Stausee Beyenburg                           0
Water Level,  Stausee Beyenburg                         0
Water Level,  Kluserbrücke                              0
Precipitation,  Beyenburg                               0
Water Level,  Leimbach                                  0
Precipitation,  Barmen Wupperverband Hauptverwaltung    0
dtype: int64

,"Discharge, Stausee Beyenburg","Water Level, Stausee Beyenburg","Water Level, Kluserbrücke","Precipitation, Beyenburg","Water Level, Leimbach"
date,,,,,
2020-03-28 08:00:00,1.950000,23.500000,18.750000,0.0,7.680000
2020-03-28 08:30:00,1.950000,23.416667,18.723077,0.0,7.180000
2020-03-28 09:00:00,1.950000,23.683333,18.740000,0.0,6.666667
2020-03-28 09:30:00,1.950000,23.840000,18.692857,0.0,6.783333
2020-03-28 10:00:00,1.963333,23.980000,18.720000,0.0,6.700000
...,...,...,...,...,...
2022-02-16 22:00:00,18.708333,92.380000,86.866667,28.0,15.250000
2022-02-16 22:30:00,18.941667,92.766667,86.750000,28.0,15.100000
2022-02-16 23:00:00,18.883333,92.616667,87.083333,10.0,14.966667
2022-02-16 23:30:00,18.741667,92.633333,86.966667,10.0,14.233333
2022-02-17 00:00:00,18.418333,92.450000,86.633333,10.0,13.783333

In [109]:
raw_test_data = data_import(path_data=path_data_test)
raw_test_data

Discharge,  Stausee Beyenburg                           0
Water Level,  Stausee Beyenburg                         0
Water Level,  Kluserbrücke                              0
Precipitation,  Beyenburg                               0
Water Level,  Leimbach                                  0
Precipitation,  Barmen Wupperverband Hauptverwaltung    0
dtype: int64

,"Discharge, Stausee Beyenburg","Water Level, Stausee Beyenburg","Water Level, Kluserbrücke","Precipitation, Beyenburg","Water Level, Leimbach"
date,,,,,
2022-02-17 00:30:00,18.623333,92.466667,86.516667,10.0,14.766667
2022-02-17 01:00:00,18.900000,92.666667,88.133333,10.0,15.450000
2022-02-17 01:30:00,18.883333,92.983333,91.500000,10.0,16.966667
2022-02-17 02:00:00,19.008333,93.450000,96.033333,10.0,16.700000
2022-02-17 02:30:00,19.170000,94.016667,101.100000,10.0,18.600000
...,...,...,...,...,...
2022-06-12 22:00:00,1.628333,16.883333,20.050000,0.0,6.783333
2022-06-12 22:30:00,1.636000,17.000000,19.933333,0.0,6.866667
2022-06-12 23:00:00,1.656667,17.316667,19.933333,0.0,6.750000
2022-06-12 23:30:00,1.650000,17.225000,19.966667,0.0,6.800000
2022-06-13 00:00:00,1.670000,17.516667,20.033333,0.0,6.766667

In [ ]:
scaler = StandardScaler()
scaler_fitted = scaler.fit(raw_data)
scaled_train_data = scaler_fitted.transform(raw_data)
scaled_train_data

In [106]:

scaled_test_data = scaler_fitted.transform(raw_test_data)
scaled_test_data

Discharge,  Stausee Beyenburg                           0
Water Level,  Stausee Beyenburg                         0
Water Level,  Kluserbrücke                              0
Precipitation,  Beyenburg                               0
Water Level,  Leimbach                                  0
Precipitation,  Barmen Wupperverband Hauptverwaltung    0
dtype: int64

array([[ 1.6362137 ,  2.50420343,  2.88853512,  1.14127286,  3.04525777],
       [ 1.66881544,  2.51288825,  2.9685451 ,  1.14127286,  3.34311088],
       [ 1.66685148,  2.52663922,  3.13516382,  1.14127286,  4.00419949],
       ...,
       [-0.36309783, -0.75911813, -0.40672122, -0.45755661, -0.44906777],
       [-0.36388342, -0.76309867, -0.40507153, -0.45755661, -0.42727364],
       [-0.36152667, -0.7504333 , -0.40177215, -0.45755661, -0.44180306]])

In [108]:
split = int(len(scaled_train_data)*0.8)
train_data = scaled_train_data[:split]
val_data = scaled_train_data[split:]
len(train_data)

26522

In [52]:
# This function creates two day-wise periodic features (sin and cos) and adds those as columns to the dataframe.
# It also shows a little plot as demonstration.
# Expand the function to also accord for two year-wise periodic features

def periodizer(data: pd.DataFrame, date_format: str = 'day'):
    """
    Function to create a daily or yearly periodic feature out of a given dataset with a readable timestamp.
    date_format takes in a string (either 'day' or 'year') to define what feature has to be created.
    Output is an exemplary presentation of the periodic feature,
    with x-axis = time [h] and y-axis shows a sine or cosine signal.
    """

    per_dataset = data

    if date_format == 'day':
        per_data = per_dataset.index.hour
        # Day has 24 hours
        day = 24
        per_dataset['Day_sin'] = 0.5 *np.sin(per_data * 2 * np.pi/day) +0.5
        per_dataset['Day_cos'] = 0.5 *np.cos(per_data * 2 * np.pi/day) +0.5

        # Show a small example of how the signal looks
        plt.plot(np.array(per_dataset['Day_sin'])[0:200])
        plt.plot(np.array(per_dataset['Day_cos'])[0:200])

        plt.show()
        # return(per_dataset)

    elif date_format == 'year':
        per_data = per_dataset.index.day_of_year

        # Year has 365 days
        year = 365

        per_dataset['Year_sin'] = 0.5 *np.sin(per_data * 2 * np.pi/year)+0.5
        per_dataset['Year_cos'] = 0.5 *np.cos(per_data * 2 * np.pi/year)+0.5
        # Show a small example of how the signal looks
        plt.plot(np.array(per_dataset['Year_sin'])[0:20000])
        plt.plot(np.array(per_dataset['Year_cos'])[0:20000])

        plt.show()

    else:
        print("Incorrect date_format given in. Has to be either 'day' or 'year'.")
    return()

In [53]:
def split_series(series, n_past, n_future):
  #
  # n_past ==> no of past observations
  #
  # n_future ==> no of future observations 
  #
  X, y = list(), list()
  for window_start in range(len(series)):
    past_end = window_start + n_past
    future_end = past_end + n_future
    if future_end > len(series):
      break
    # slicing the past and future parts of the window
    past, future = series[window_start:past_end, :], series[past_end:future_end, :]
    X.append(past)
    y.append(future)
  return np.array(X), np.array(y)

In [111]:
train_x, train_y = split_series(train_data,n_past=48, n_future= 12)
train_x = train_x.reshape((train_x.shape[0], train_x.shape[1],n_features))
train_y = train_y.reshape((train_y.shape[0], train_y.shape[1], n_features))

val_x, val_y = split_series(val_data,n_past=48, n_future= 12)
val_x = val_x.reshape((val_x.shape[0], val_x.shape[1],n_features))
val_y = val_y.reshape((val_y.shape[0], val_y.shape[1], n_features))

test_x, test_y = split_series(scaled_test_data, n_past=48, n_future= 12)
test_x = test_x.reshape((test_x.shape[0], test_x.shape[1],n_features))
test_y = test_y.reshape((test_y.shape[0], test_y.shape[1], n_features))